<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exmple.taimoor.thewayout">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homeactivities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".homeactivities.HomeActivity" />
        <activity android:name=".homeactivities.SliderActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sportsactivities.SportsActivity" />
        <activity android:name=".homeactivities.LoginActivity"></activity>
        <activity android:name=".homeservicesactivities.HomeServices" />
        <activity android:name=".dealsactivities.DealsActivity" />
        <activity android:name=".activitiesactivities.ActivitiesActivity" />
        <activity android:name=".reservationactivities.ReservationActivity" />
        <activity android:name=".directoryactivities.DirectoryActivity" />
        <activity android:name=".facilitiesactivities.FacilitiesActivity" />
        <activity android:name=".homeservicesactivities.electrition.Electrician" />
        <activity android:name=".dealsactivities.NewDeal" />
        <activity android:name=".homeservicesactivities.plumber.plumber"></activity>
        <activity android:name=".homeservicesactivities.laundry.laundry"></activity>
        <activity android:name=".homeservicesactivities.ac_technicians.ac_technicians"></activity>
        <activity android:name=".homeservicesactivities.painter.painter"></activity>
        <activity android:name=".homeservicesactivities.carpenter.carpenter"></activity>
        <activity android:name=".homeservicesactivities.cleaner.cleaner"></activity>
        <activity android:name=".homeservicesactivities.mason.mason"></activity>
        <activity android:name=".homeservicesactivities.glass_and_windows.glass_and_windows"></activity>
        <activity android:name=".homeservicesactivities.drivers.drivers"></activity>
        <activity android:name=".homeservicesactivities.construction.construction"></activity>
        <activity android:name=".sportsactivities.swimming.swimmingactivity"></activity>

    </application>

</manifest>